version: 2
jobs:
  build:
    docker:
      - image: circleci/build-image:ubuntu-14.04-XXL-upstart-1189-5614f37
    steps:
      - checkout
      - run: echo "hello world"
      - run: java -version
      - run: echo branch `$CIRCLE_BRANCH` tag `$CIRCLE_TAG`
