version: 2
jobs:
  build:
    docker:
      - image: circleci/build-image:ubuntu-14.04-XXL-upstart-1189-5614f37
    steps:
      - checkout
      - run: java -version
      - run: echo branch [$CIRCLE_BRANCH] tag [$CIRCLE_TAG]
      - run: |
          if [ -n "$CIRCLE_TAG" ]
          then
              echo tag [$CIRCLE_TAG]
          else
              echo branch [$CIRCLE_BRANCH]
          fi
workflows:
  version: 2
  build-staging:
    jobs:
      - build
